body {
	font-family: Arial;
	color: #1d1616;
    font-size: 0.9em;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
}

.product-item {
	float: left;
	background: #ffffff;
	margin: 10px 10px 10px 10px;
	border: #E0E0E0 1px solid;
}

.product-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.price {
	float:left;
}

.title {
	margin-bottom: 20px;
}

.add {
	float: right;
}

.header{background:rgb(0, 178, 255);color:#fff;}
.cart{
    font-size: 12px;
    background: #c67605;
    color: #fff;
    padding: 0 5px;
	vertical-align: top;
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	text-decoration: none;
}

.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
  }
